examples/nmea-encode.json
[{"id":"395ad916396d2633","type":"NmeaEncoder","z":"95fe791a9c2e02fb","description":"","x":1100,"y":660,"wires":[["b1d594a6a88edfca","0451732ab38bafa9"],["0aacddfbe23ce47d"]]},{"id":"b1d594a6a88edfca","type":"debug","z":"95fe791a9c2e02fb","name":"debug 65","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1280,"y":620,"wires":[]},{"id":"0aacddfbe23ce47d","type":"debug","z":"95fe791a9c2e02fb","name":"debug 66","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1280,"y":680,"wires":[]},{"id":"8288987f3959d44e","type":"inject","z":"95fe791a9c2e02fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":540,"wires":[["311378b9c7996b1f"]]},{"id":"311378b9c7996b1f","type":"function","z":"95fe791a9c2e02fb","name":"GPDTM","func":"// https://github.com/Node-NTRIP/nmea/blob/master/src/messages/dtm.ts\nmsg.payload = {\n  messageType : 'DTM',\n  nmeaMessage : {\n    talker: 'GP',  \n    datum: 'W84',\n    // subDatum: string;\n    latitudeOffset : 0,\n    longitudeOffset: 0,\n    altitudeOffset: 0,\n    // refDatum: 'W84'\n  }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":540,"wires":[["395ad916396d2633"]]},{"id":"81c6cb1be666c10c","type":"function","z":"95fe791a9c2e02fb","name":"GNGBS","func":"// see https://github.com/Node-NTRIP/nmea/blob/master/src/messages/gbs.ts\nmsg.payload = {\n  messageType : 'GBS',\n  nmeaMessage : {\n    talker: 'GN',\n    time: new Date(0, 0, 0, 1, 2, 3, 0),\n    latitudeError: 0,\n    longitudeError: 0,\n    altitudeError: 0,\n    satelliteId: 1,\n    probability: 1,\n    bias: 0,\n    standardDeviation: 0,\n    systemId: 1,\n    signalId: 0,\n  }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":580,"wires":[["395ad916396d2633"]]},{"id":"0e982631e6b36163","type":"inject","z":"95fe791a9c2e02fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":580,"wires":[["81c6cb1be666c10c"]]},{"id":"0451732ab38bafa9","type":"NmeaDecoder","z":"95fe791a9c2e02fb","description":"","x":1320,"y":760,"wires":[["ccc599cb0e9addf6"],[]]},{"id":"ccc599cb0e9addf6","type":"debug","z":"95fe791a9c2e02fb","name":"debug 68","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1480,"y":740,"wires":[]},{"id":"7ea7ecdb2b40ae9c","type":"function","z":"95fe791a9c2e02fb","name":"GNGLL","func":"// see https://github.com/Node-NTRIP/nmea/blob/master/src/messages/gll.ts\nmsg.payload = {\n  messageType : 'GLL',\n  nmeaMessage : {\n    talker: 'GN',\n    time: new Date(0, 0, 0, 1, 2, 3, 0),\n    latitude: 66.66,\n    longitude: 33.33,\n    status: 'A',\n    modeIndicator: 'R',\n  }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":660,"wires":[["395ad916396d2633"]]},{"id":"fa082ed5b7d0ed5a","type":"inject","z":"95fe791a9c2e02fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":660,"wires":[["7ea7ecdb2b40ae9c"]]},{"id":"9cb944ace7f6806e","type":"function","z":"95fe791a9c2e02fb","name":"GNGGA","func":"// see https://github.com/Node-NTRIP/nmea/blob/master/src/messages/gga.ts\nmsg.payload = {\n  messageType : 'GGA',\n  nmeaMessage : {\n    talker: 'GN',\n    time: new Date(0, 0, 0, 1, 2, 3, 0),\n    latitude: 66.66,\n    longitude: 33.33,\n    quality: 1,\n    numberSatellites: 10,\n    hdop: 2.5,\n    altitude: 180.00,\n    geoidalSeparation: 90.00,\n    differentialAge: 5,\n    differentialStationId: 'differentialStationId',\n  }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":620,"wires":[["395ad916396d2633"]]},{"id":"0e3c3f77a0bc9553","type":"inject","z":"95fe791a9c2e02fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":620,"wires":[["9cb944ace7f6806e"]]},{"id":"78e689b321ae3f8f","type":"comment","z":"95fe791a9c2e02fb","name":"","info":"// see also https://github.com/node-ntrip/nmea#readme\n// put your payload into msg.payload.message see output of decoder node","x":740,"y":500,"wires":[]},{"id":"9fb5ecd91eba0f94","type":"function","z":"95fe791a9c2e02fb","name":"GNGNS","func":"// see https://github.com/Node-NTRIP/nmea/blob/master/src/messages/gns.ts\nmsg.payload = {\n  messageType : 'GNS',\n  nmeaMessage : {\n    talker: 'GN',\n    time: new Date(0, 0, 0, 1, 2, 3, 0),\n    latitude: 66.66,\n    longitude: 33.33,\n    modeIndicators: ['R'],\n    numberSatellites: 1,\n    hdop: 0,\n    altitude: 123,\n    geoidalSeparation: 0,\n    differentialAge: 0,\n    differentialStationId: 'differentialStationId',\n    navigationStatus: 'S',\n  }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":700,"wires":[["395ad916396d2633"]]},{"id":"b4c368a6ec3fd9b0","type":"inject","z":"95fe791a9c2e02fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":700,"wires":[["9fb5ecd91eba0f94"]]},{"id":"346c9bfb24eca4bf","type":"function","z":"95fe791a9c2e02fb","name":"GNGRS","func":"// see https://github.com/Node-NTRIP/nmea/blob/master/src/messages/grs.ts\nmsg.payload = {\n  messageType : 'GRS',\n  nmeaMessage : {\n    talker: 'GN',\n    time: new Date(0, 0, 0, 1, 2, 3, 0),\n    residualsMode: 0,\n    residuals: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],\n    systemId: 1,\n    signalId: 1,\n  }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":740,"wires":[["395ad916396d2633"]]},{"id":"a42bcfe61f797be3","type":"inject","z":"95fe791a9c2e02fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":740,"wires":[["346c9bfb24eca4bf"]]},{"id":"24fc3108ef208f3b","type":"function","z":"95fe791a9c2e02fb","name":"GNGSA","func":"// see https://github.com/Node-NTRIP/nmea/blob/master/src/messages/gsa.ts\nmsg.payload = {\n  messageType : 'GSA',\n  nmeaMessage : {\n    talker: 'GN',\n    operationMode: 'A',\n    navMode: 3,\n    satellites: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],\n    pdop: 0,\n    hdop: 0,\n    vdop: 0,\n    systemId: 1,\n  }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":780,"wires":[["395ad916396d2633"]]},{"id":"79f77e548a594e86","type":"inject","z":"95fe791a9c2e02fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":780,"wires":[["24fc3108ef208f3b"]]},{"id":"946e93e6b5d5bd99","type":"function","z":"95fe791a9c2e02fb","name":"GNGST","func":"// see https://github.com/Node-NTRIP/nmea/blob/master/src/messages/gst.ts\nmsg.payload = {\n  messageType : 'GST',\n  nmeaMessage : {\n    talker: 'GN',\n    time: new Date(0, 0, 0, 1, 2, 3, 0),\n    rangeRms: 1,\n    standardDeviationMajor: 0,\n    standardDeviationMinor: 0,\n  }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":820,"wires":[["395ad916396d2633"]]},{"id":"45b4a35d34900485","type":"inject","z":"95fe791a9c2e02fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":820,"wires":[["946e93e6b5d5bd99"]]},{"id":"cd0e6bb7b2ebe038","type":"function","z":"95fe791a9c2e02fb","name":"GNGSV","func":"// see https://github.com/Node-NTRIP/nmea/blob/master/src/messages/gsv.ts\nmsg.payload = {\n  messageType : 'GSV',\n  nmeaMessage : {\n    talker: 'GN',\n    sentenceCount: 1,\n    sentenceNumber: 1,\n    numberSatellites: 1,\n    satellites: [{    \n      satelliteId: 1,\n      elevationDegrees: 1,\n      azimuthDegrees: 0,\n      signalNoiseRatio: 1,\n    }],\n    signalId: 1,\n  }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":860,"wires":[["395ad916396d2633"]]},{"id":"95fbbdfc6e3339cf","type":"inject","z":"95fe791a9c2e02fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":860,"wires":[["cd0e6bb7b2ebe038"]]},{"id":"a8daeb2afa192350","type":"function","z":"95fe791a9c2e02fb","name":"GNRMC","func":"// see https://github.com/Node-NTRIP/nmea/blob/master/src/messages/rmc.ts\nmsg.payload = {\n  messageType : 'RMC',\n  nmeaMessage : {\n    talker: 'GN',\n    time: new Date(0, 0, 0, 1, 2, 3, 0),\n    status: 'A',\n    latitude: 10,\n    longitude: 11,\n    speedOverGroundKnots: 0,\n    courseOverGroundTrue: 1,\n    date: new Date(0, 0, 0),\n    magneticVariation: 0,\n    modeIndicator: 'R',\n    navStatus: 'S',\n  }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":900,"wires":[["395ad916396d2633"]]},{"id":"aabbb873df0609ca","type":"inject","z":"95fe791a9c2e02fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":900,"wires":[["a8daeb2afa192350"]]},{"id":"54fe198c52d51c3d","type":"function","z":"95fe791a9c2e02fb","name":"GNTHS","func":"// see https://github.com/Node-NTRIP/nmea/blob/master/src/messages/ths.ts\nmsg.payload = {\n  messageType : 'THS',\n  nmeaMessage : {\n    talker: 'GN',\n    headingTrue: 1,\n    modeIndicator: 'R'\n  }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":940,"wires":[["395ad916396d2633"]]},{"id":"2227f94cab8861f7","type":"inject","z":"95fe791a9c2e02fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":940,"wires":[["54fe198c52d51c3d"]]},{"id":"53b59280cfaa354c","type":"function","z":"95fe791a9c2e02fb","name":"GNTXT","func":"// see https://github.com/Node-NTRIP/nmea/blob/master/src/messages/txt.ts\nmsg.payload = {\n  messageType : 'TXT',\n  nmeaMessage : {\n    talker: 'GN',\n    messageCount: 1,\n    messageNumber: 1,\n    messageType: 1,\n    text: 'Bigfoot'\n  }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":980,"wires":[["395ad916396d2633"]]},{"id":"5db9e0dee97ef9e0","type":"inject","z":"95fe791a9c2e02fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":980,"wires":[["53b59280cfaa354c"]]},{"id":"4aeabe8dfd5e58de","type":"function","z":"95fe791a9c2e02fb","name":"GNVHW","func":"// see https://github.com/Node-NTRIP/nmea/blob/master/src/messages/vhw.ts\nmsg.payload = {\n  messageType : 'VHW',\n  nmeaMessage : {\n    talker: 'GN',\n    headingTrue: 1,\n    headingMagnetic: 2,\n    speedKnots: 3,\n    speedKmh: 4\n  }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":1020,"wires":[["395ad916396d2633"]]},{"id":"d835de357bdbb233","type":"inject","z":"95fe791a9c2e02fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":1020,"wires":[["4aeabe8dfd5e58de"]]},{"id":"95767237d022ba6f","type":"function","z":"95fe791a9c2e02fb","name":"GNVLW","func":"// see https://github.com/Node-NTRIP/nmea/blob/master/src/messages/vlw.ts\nmsg.payload = {\n  messageType : 'VLW',\n  nmeaMessage : {\n    talker: 'GN',\n    totalCumulativeWaterDistance: 1,\n    resetWaterDistance: 2,\n    totalCumulativeGroundDistance: 3,\n    resetGroundDistance: 4\n  }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":1060,"wires":[["395ad916396d2633"]]},{"id":"d6f529187402ec50","type":"inject","z":"95fe791a9c2e02fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":1060,"wires":[["95767237d022ba6f"]]},{"id":"f72f5b6462f257c4","type":"function","z":"95fe791a9c2e02fb","name":"GNVPW","func":"// see https://github.com/Node-NTRIP/nmea/blob/master/src/messages/vpw.ts\nmsg.payload = {\n  messageType : 'VPW',\n  nmeaMessage : {\n    talker: 'GN',\n    speedKnots: 1,\n    speedMs: 2\n  }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":1100,"wires":[["395ad916396d2633"]]},{"id":"238c581bcb5a2ecf","type":"inject","z":"95fe791a9c2e02fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":1100,"wires":[["f72f5b6462f257c4"]]},{"id":"80bfe72db5dee054","type":"function","z":"95fe791a9c2e02fb","name":"GNVTG","func":"// see https://github.com/Node-NTRIP/nmea/blob/master/src/messages/vtg.ts\nmsg.payload = {\n  messageType : 'VTG',\n  nmeaMessage : {\n    talker: 'GN',\n    courseOverGroundTrue: 1,\n    courseOverGroundMagnetic: 2,\n    speedOverGroundKnots: 3,\n    speedOverGroundKmh: 4,\n    modeIndicator: 'R',\n  }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":1140,"wires":[["395ad916396d2633"]]},{"id":"8a811f6ae216f934","type":"inject","z":"95fe791a9c2e02fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":1140,"wires":[["80bfe72db5dee054"]]},{"id":"0cfc1b0b7af0efa1","type":"function","z":"95fe791a9c2e02fb","name":"GNZDA","func":"// see https://github.com/Node-NTRIP/nmea/blob/master/src/messages/zda.ts\nmsg.payload = {\n  messageType : 'ZDA',\n  nmeaMessage : {\n    talker: 'GN',\n    date: new Date(0, 0, 0, 1, 2, 3, 0),\n    localTimeZoneHours: 1,\n    localTimeZoneMinutes: 2\n  }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":1180,"wires":[["395ad916396d2633"]]},{"id":"5a48b0e6d7d8d4c0","type":"inject","z":"95fe791a9c2e02fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":1180,"wires":[["0cfc1b0b7af0efa1"]]}]