examples/ntripclient.json
[{"id":"86db72067d6de6eb","type":"debug","z":"95fe791a9c2e02fb","name":"debug 42","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":260,"wires":[]},{"id":"bcb4f78f38f73614","type":"debug","z":"95fe791a9c2e02fb","name":"debug 44","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":300,"wires":[]},{"id":"ce248cbbb81fedc7","type":"debug","z":"95fe791a9c2e02fb","name":"debug 45","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":360,"wires":[]},{"id":"1e5f02ac026876e5","type":"debug","z":"95fe791a9c2e02fb","name":"debug 46","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":420,"wires":[]},{"id":"51cd0b92e167630a","type":"function","z":"95fe791a9c2e02fb","name":"1005","func":"if(msg.payload.rtcm == 1005)\n{\n    return msg;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":140,"wires":[["19d95eb7c3fc0838"]]},{"id":"19d95eb7c3fc0838","type":"debug","z":"95fe791a9c2e02fb","name":"debug 48","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1220,"y":140,"wires":[]},{"id":"307341cb4389ee70","type":"NtripClient","z":"95fe791a9c2e02fb","description":"RTK2Go Westendorf","port":"2101","host":"rtk2go.com","mountpoint":"Westendorf","interval":1000,"x":590,"y":340,"wires":[["91bc83d1480be9ce","fa8ecd8584cd2497"]]},{"id":"91bc83d1480be9ce","type":"RtcmDecoder","z":"95fe791a9c2e02fb","description":"","x":880,"y":260,"wires":[["86db72067d6de6eb","51cd0b92e167630a"],["bcb4f78f38f73614"]]},{"id":"fa8ecd8584cd2497","type":"NmeaDecoder","z":"95fe791a9c2e02fb","description":"","x":880,"y":400,"wires":[["ce248cbbb81fedc7"],["1e5f02ac026876e5"]]}]