examples/watchdog.json
[{"id":"watchdog-tab","type":"tab","label":"NTRIP stall watchdog","disabled":false,"info":"Alerts when the NTRIP correction stream stops delivering data.\n\nHow it works:\n- Every message from the NTRIP Client resets the trigger node's timer.\n- If no message arrives within 60 seconds, the trigger fires and the STALL\n  debug pane shows an alert.\n- When data resumes, the next message resets the timer — no explicit\n  \"recovered\" notification is emitted (extend the flow with a function\n  node if you need that).\n\nAdjust the timeout in the trigger node's Duration field.\n"},{"id":"comment-1","type":"comment","z":"watchdog-tab","name":"NTRIP stream stall watchdog — alert after 60s of silence","info":"","x":260,"y":80,"wires":[]},{"id":"ntrip","type":"NtripClient","z":"watchdog-tab","description":"RTK2Go Westendorf","port":"2101","host":"rtk2go.com","mountpoint":"Westendorf","interval":1000,"x":180,"y":180,"wires":[["dbg-data","stall-trigger"]]},{"id":"dbg-data","type":"debug","z":"watchdog-tab","name":"data (each frame)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":140,"wires":[]},{"id":"stall-trigger","type":"trigger","z":"watchdog-tab","name":"60s stall watchdog","op1":"","op2":"NTRIP stream stalled — no data for 60 s","op1type":"nul","op2type":"str","duration":"60","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":440,"y":220,"wires":[["dbg-stall"]]},{"id":"dbg-stall","type":"debug","z":"watchdog-tab","name":"STALL","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":660,"y":220,"wires":[]}]
